<div>
<div class="form-inline" style="margin-bottom:5px">
<label class="control-label" for="ssearch">Search</label>
<input type="text" class="form-control" name="ssearch" id="search" style="min-width:50%;max-width:60%">
<button class="btn btn-primary" id="submitSearch">Search</button><label style="float:right;margin-right:10%" id="result_nums"></label>
</div>
<div class="form-control" style="margin-bottom:5px;">
     <label class="radio-inline"><input type="radio" class="optradio" name="optradio" value="0" checked><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax" target="_blank">Query String</a></label>
    <label class="radio-inline"><input type="radio" class="optradio" name="optradio" value="1"><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query.html" target="_blank">Match (AND)</a></label>
    <label class="radio-inline"><input type="radio" class="optradio" name="optradio" value="2"><a href="https://www.elastic.co/guide/en/elasticsearch/guide/current/phrase-matching.html"target="_blank">Match Phrase</a></label> 
</div>

<table class="table table-striped table-bordered table-condensed table-hover" id='estable'>
              <tr>
                  <th>TAG</th>
                  <th>DATA</th>
              </tr>
            <tbody id='result_tbody'>
              </tbody>
            </table>
</div>
