<div>
<input type="text" class="form-control" name="url" id="search" />
<button id="submitSearch">Search</button>
<table class="table table-striped table-bordered table-condensed table-hover" id='estable'>
              <tr>
                  <th>TAG</th>
                  <th>DATA</th>
              </tr>
            <tbody id='result_tbody'>
              </tbody>
            </table>
</div>
